@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Source+Code+Pro:wght@400;500;700&family=VT323&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap'); */


html {
  background-color: #231f20;
  scroll-behavior: smooth;
}

.hero-radialbg {
  background-image: radial-gradient(#5b0db5, #250e40 50%);
  /* background-image: radial-gradient(#91a117, #231f20 50%); */
}
/* 250e40 */
/* 231f20 */

.project-scrollbar {
  padding: 1em 0;
}

.project-scrollbar::-webkit-scrollbar {
  display: none;
}
